@import "tailwindcss";

/* 
You shouldn't need to change anything in this file, 
but of course you can if you want.
*/

:root {
	--background: #252525;
	--footer-background: #1b1b1b;

	--primary-gray: #8a8a8d;
	--primary-blue: #346094;

	--accent-orange: #d57e00;
	--accent-sky-blue: #99caea;
	--accent-purple: #853175;
	--accent-yellow: #f4c300;
	--accent-green: #4b8b2a;

	--font-montserrat: "Montserrat", sans-serif;
}

@theme {
	--color-primaryGray: var(--primary-gray);
	--color-primaryBlue: var(--primary-blue);
	--color-accentPurple: var(--accent-purple);
	--color-accentOrange: var(--accent-orange);
	--color-accentSkyBlue: var(--accent-sky-blue);
	--color-accentYellow: var(--accent-yellow);
	--color-accentGreen: var(--accent-green);
}

body {
	background: var(--background);
	color: #fff;
	font-family: var(--font-montserrat);
}

footer {
	background: var(--footer-background);
}
